/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/css3";
@import "compass";

// bootstrap4

@import "bootstrap4/functions";
@import "bootstrap4/variables";
@import "bootstrap4/mixins";
@import "bootstrap4/print";
@import "bootstrap4/reboot";

//Bootstrap Grid

@import "bootstrap4/grid";
@import "bootstrap4/utilities/flex";

// customize import

@import "myvariables";
@import "mymixins";

// Bootstrap reset

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


// customize from here

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}


a:hover {
	color: $link_hover;
}

.contact {
	text-align: center;
	background: $purple;
}

.contact a {
	padding: 0 15px;
	line-height: 1.5rem;
	color: white;
}

.banner {
	position: relative;
	height: 90vh;
	text-align: center;
	color: white;
	background: url(../images/banner.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.banner-title {
	padding-top: 25vh;
	font-size: 48px;

	span {
		padding: 15px;
	}

	p {

	}
}

.banner-txt {
	width: 40%;
	margin: 0 auto;
}

.startbtn {
	@include triangle($triangle-size, $peach);
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);
	width: 300px;
	margin: 0 auto;
	padding: 0 15px;
	z-index: 2;
	line-height: 2rem;
	text-align: center;
	color: white;
	background-color: $peach;
}

.img-fluid {
  @include img-fluid;
}

.box .row .box-item {
	position: relative;
    line-height: 0;
    overflow: hidden;
    background-color: black;

    img {
    	transition: 0.5s ease;
    	opacity: 1;
    	backface-visibility: hidden;
    }

    .overlay {
			position: absolute;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform:translate(-50%,-50%);
			transition: 0.5s ease;

		
		.box-text {
			
			padding: 20px;
			background-color: $peach;
			color: white;

		}
    }

    &:hover {
    	img {
    		transform: scale(1.3,1.3);
    		opacity: 0.3;
    	}

		.overlay {
			opacity: 1;

		}
    }
}

.seperate {
	margin-bottom: $triangle-size+10px;
	line-height: 2rem;
	text-align: center;
	background-color: $peach;
	font-size: 0.5rem;
	color: white;
	
	@include triangle($triangle-size, $peach);

}


.content {
	text-align: center;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

}

.content .row .col-sm-4:nth-child(2){
	padding-top: 200px;
}

.article {
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;

	h2 {
		padding-top: 20px;
	}

	&:nth-child(2n+1):after {
		content: '●●●';
		font-size: 24px;
		text-align: center;
		 letter-spacing: 30px;
	}

	p:nth-last-of-type(1) {
		padding-bottom: 40px;
	}
}

button {
	width: 200px;
	padding: 10px;
	margin-bottom: 30px;
	border: 0px solid $lightgray;
	background-color: white;
}

footer {
	padding: 20px;
	text-align: center;
	background: $lightgray;
}
